h1 {
    font-size: xxx-large;
    padding: 10px;
    color: yellow;
    background: linear-gradient(to right, rgb(176, 0, 0), rgb(0, 180, 0));
    text-align: center;
    margin-top: 60px;
    margin-left: 150px;
    float: left;
    cursor: pointer;
} 
div.readmore {
    clear: both;
    
}
.left {
    width: 50%;
    float: left;
}
  
.right {
    width: 50%;
    float: right;
    text-align: center;
} 
#title {
    width: 80%;
    font-size: 32px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    margin-left: 100px;
    border: 1px solid black;
}
#category {
    margin-bottom: 10px;
    margin-left: 100px;
    display: inline;
    padding: 10px;
    background-color: lightgrey;
}
#description {
    width: 80%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: lightgray;
    margin-left: 100px;
    
}
#image {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    
}
#rating {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 50px;
}

button#delete {
    background-color: rgb(176, 0, 0);
    color: black;
    float: right;
    border-radius: 70px;
    padding: 15px;
    margin-right: 350px;
    border:none;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    font-size: xx-large;
}
button#delete:hover {
    background-color: rgb(0, 180, 0);
}
span {
    color:#D5AB55;
}
igc-rating {
    color: #D5AB55;
    font-size: larger;
}
label {
    margin-left: 100px;
    font-size: xx-large;
}
textarea {

    width: 80%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: lightgray;
    margin-left: 100px;
    

}
label#comment {
    font-size: large;
    margin-right: 5px;
    margin-left: none;
    margin-bottom: 20px;
}
form#comments {
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: lightblue;
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
}
form#comments ul {
    list-style-type: none;
}
.arrow {
    float: left;
    margin-right: 10px;
    margin-top: 18px;
    clear: left;
    margin-left: 80px;
    margin-bottom: 20px;
}
  
.arrow h3 {
    margin: 0;
    font-size: 26px;
    cursor: pointer;
}
.full {
    background: radial-gradient(at right top, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}
h3 {
    font-size: medium;
}