
<h1 (click)="Back()">MovieRating</h1>
<form id="full" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="left">
    <input type="text" id="title" formControlName="title" name="title" placeholder="Voer filmtitel in" required>
    <select  id="category" formControlName="category">
        <option *ngFor="let category of categories">{{ category }}</option>
      </select>
    <textarea id="description" formControlName="description" name="description" rows="10" placeholder="geef een beschrijving"></textarea>
    <label for="modelRating">Beoordeling:</label>
    <igc-rating value={{this.ratingValue}} id="modelRating" name="modelRating" (igcChange)="ratingChanged($event);" max="5"></igc-rating>
</div>
<div class="right">
    <label for="image">Afbeelding uploaden:</label>
    <input type="file" id="image" name="image" (change)="imageinput($event)">
    <form id="comments" [formGroup]="commentForm" (ngSubmit)="addComment()">
        <div>
          <label for="commenti">opmerking: </label>
          <input type="text" id="commenti" formControlName="comment">
        </div>
        <ul>
            <li *ngFor="let comment of comments; let i = index">
              {{ comment |capfirstletter }}
              <button (click)="comments.splice(i, 1)"><span class="material-icons black-color">delete </span></button>
            </li>
          </ul>
        <button mat-raised-button [disabled]="!commentForm.valid" type="submit" color="primary">Toevoegen</button>
      </form>
<br>
    <button mat-raised-button [style.background-color]="'#FF5733'" type="reset" id="cancel" (click)="Back()">Annuleren</button>
    <button mat-raised-button type="submit" color="primary"  id="submit" [disabled]="!form.valid">Opslaan</button>
</div>
</form>
