h1 {
    font-size: 70px;
    padding: 20px;
    border: 1px solid black;
    color: yellow;
    background: linear-gradient(to right, rgb(176, 0, 0), rgb(0, 180, 0));
    text-align: center;
    display: inline-block;
    margin-bottom: 60px;
}
input {
    background-color: white; 
    border: 1px solid black; 
    color: black;
    padding: 10px; 
    width: 500px; 
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: xxx-large;
    

}
div.center {
    text-align: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
select {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 200px;

}
option {
    background-color: black;
    color: white;
}
a {
    color: white;
    text-emphasis: none;
    margin-top: 20px;
    text-decoration: none;

}
a:hover {
    color: rgb(176, 0, 0);;
}
div#left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login{
    margin-right: 200px;
    margin-top: 50px;
    font-size: larger;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);;
  }
  .login:hover {
    background-position: right center;
  }
  .login:active {
    top: 2px;
  }

.right {
    width: 100%; 
    text-align: right; 
}